<header class="header">
  <div class="header__content content-column">

    <a href="{{ siteUrl('/') }}" class="logo">
      <img src="{{ siteUrl }}static/images/logo.svg" alt="{{ siteName }}">
    </a>

    <button type="button" class="nav-toggle">
      <img src="{{ siteUrl }}static/images/list.svg" alt="Menu" class="icon-open-menu">
      <img src="{{ siteUrl }}static/images/x.svg" alt="Close Menu" class="icon-close-menu">
    </button>
    
    <nav class="nav">
      {% set navLinks = headerNav.navLinks|default(null) %}
      {% set activeLink = craft.app.request.absoluteUrl %}
      {% set classes = ['nav__link'] %}
      
      {% if navLinks %}
        {% for link in navLinks %}
          {% set isActive = activeLink == link.navLink.url %}
          {{ link.navLink.getLink({
            class: isActive ? classes|merge(['nav__link--active']) : classes, 
          }) }}
        {% endfor %}
      {% endif %}
    </nav>
    
  </div>
</header>